html { 
    background: url("https://santafestation.sclv.com/~/media/Images/Page-Background-Images/Generic/LandingPage_genericbg_RR.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    background-color: transparent;
}

span#infoBox{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    background: #1a1a1a;
    border: 0;
    color: white;
    font-size: 16px;
    width: 500px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: justify;
    top: 10px;
    right:500px;
    display: none;
    padding:0 20px;
}

span#info{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    font-size: 30px;
    cursor:pointer;
}

span#info:hover span#infoBox{
    display: table;
    margin:auto;
}

h1#app-name {
    font-size:84px;
}
a#home{
    color: white;
    text-decoration: none;
}
a#home:hover {
    color: #204d74;
}

button#refreshbtn {
    display:none;
}

img#selected-img{
    width:150px;
    height:150px;
    padding:20px;
    display:none;
    margin: 0 auto;
}

img#selected-img-menu{
    margin: 0 auto;
    display:none;
    padding:20px;
}

img#selected-img-toy{
    margin: 0 auto;
    display:none;
    padding:20px;
}

h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 40px;
    -webkit-transition: margin-top 1s; /* Safari */
    transition: margin-top 1s;
    min-height: 100%;
    margin-bottom: 50px;
}

.btn-wrapper {
    padding: 20px 0;
}

#mainButton{
    display: block;
}

input#my-file-selector {
    display:none;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 10px;
    text-align: left;
}
